{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    {{> material-cover}}
    <div class="post-card animated fade-in">
        <a id="back-button" href="#open" title="Go back" class="hvr-grow">
            <div class="back-button">
                <i class="fa fa-arrow-left"></i>
            </div>
        </a>
        <div class="post-container">
            <div class="post-header">
                <div class="meta">
                    <time datetime="{{date published_at format="MMMM DD, YYYY"}}">{{date published_at timeago="true"}}</time>
                    <span class="tags">{{tags prefix="in " separator=" "}}</span>
                    <span class="reading-time"> ~ {{reading_time}}.</span>
                </div>
                <h1 id="post-title">
                    {{{title}}}
                </h1>
                <div class="share">
                    {{> share }}
                </div>
            </div>
             <div class="post-content">
                {{content}}
            </div>
            {{> post-author-credit}}
            {{> comments}}
            <section class="post-full-comments">
                <div id="disqus_thread"></div>
                <script>
                var disqus_config = function () {
                    this.page.url = "{{url absolute="true"}}";
                    this.page.identifier = "ghost-{{comment_id}}"
                };
                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://bingzhangblog.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
            </section>
        </div>
    </div>
    {{> post-pagination}}
  </article>

{{/post}}
